{{#ui-table--v2}}
  {{#ui-thead--fixed}}
    {{#ui-th width="83px" column=0 children=0}}ID{{/ui-th}}
  {{else}}
    {{#ui-th children=2}}
      <div>Name</div>
      {{#ui-th width="15%" column=1 children=0}}First Name{{/ui-th}}
      {{#ui-th width="15%" column=2 children=0}}Last Name{{/ui-th}}
    {{/ui-th}}
    {{#ui-th width="1fr" column=3 children=0}}Nick Name{{/ui-th}}
    {{#ui-th width="10%" column=4 children=0}}Age{{/ui-th}}
    {{#ui-th width="10%" column=5 children=0}}SSN{{/ui-th}}
    {{#ui-th width="20%" column=6 children=0}}Password{{/ui-th}}
  {{/ui-thead--fixed}}

  {{#if application.model.isFulfilled}}
    {{#ui-tbody--fixed}}
      {{#ui-tr--each application.model key="id" as |item|}}
        {{#ui-td column=0}}{{item.id}}{{/ui-td}}
      {{/ui-tr--each}}
    {{else}}
      {{#ui-tr--each application.model key="id" as |item|}}
        {{#ui-td column=1}}{{item.firstName}}{{/ui-td}}
        {{#ui-td column=2}}{{item.lastName}}{{/ui-td}}
        {{#ui-td column=3}}{{item.nickName}}{{/ui-td}}
        {{#ui-td column=4}}{{item.age}}{{/ui-td}}
        {{#ui-td column=5}}XXX-XX-XXXX{{/ui-td}}
        {{#ui-td column=6}}********{{/ui-td}}
      {{/ui-tr--each}}
    {{/ui-tbody--fixed}}

    {{#ui-tfoot--fixed}}
      {{#ui-tr}}
        {{#ui-td column="0"}}ID{{/ui-td}}
      {{/ui-tr}}
    {{else}}
      {{#ui-tr}}
        {{#ui-td column=1}}First Name{{/ui-td}}
        {{#ui-td column=2}}Last Name{{/ui-td}}
        {{#ui-td column=3}}Nick Name{{/ui-td}}
        {{#ui-td column=4}}Age{{/ui-td}}
        {{#ui-td column=5}}SSN{{/ui-td}}
        {{#ui-td column=6}}Password{{/ui-td}}
      {{/ui-tr}}
    {{/ui-tfoot--fixed}}
  {{/if}}
{{/ui-table--v2}}
