{{#let (Select (array "fixed" "virtual") selection=mode) as |scroll|}}
  <div>
    {{#each scroll as |item|}}
      <label>
        <input type="radio" checked={{item.isSelected}} onclick={{action "mode" item}}>
        {{item.value}} scroll
      </label>
    {{/each}}
  </div>
  <div>
    {{let increment=(Number 5)}}

    <button {{action "addData" increment}}>Add Rows</button>
    <button {{action "removeData" increment}}>Remove Rows</button>
    {{input value=increment change=(action (pipe (property "target.value") (action increment.set)))}}
  </div>
  {{#if (eq scroll.selection "virtual")}}
    {{#ui-table as |t|}}
      {{#t.head as |t|}}
        {{#ui-sortable}}
          {{#t.h width=83 frozen=true}}ID{{/t.h}}
          {{#t.h}}
            <div>Name</div>
            {{#ui-sortable}}
              {{#t.h}}First Name{{/t.h}}
              {{#t.h}}Last Name{{/t.h}}
            {{/ui-sortable}}
          {{/t.h}}
          {{#t.h width="50%"}}{{#ui-resizable options=(hash handles="e")}}Nick Name{{/ui-resizable}}{{/t.h}}
          {{#t.h}}Age{{/t.h}}
          {{#t.h}}SSN{{/t.h}}
          {{#t.h}}Password{{/t.h}}
        {{/ui-sortable}}
      {{/t.head}}
      {{#t.body-each application.model as |t item index|}}
        {{#t.r as |t|}}
          {{#t.d}}{{item.id}}{{/t.d}}
          {{#t.d}}{{item.age}}{{/t.d}}
          {{#t.d}}{{item.firstName}}{{/t.d}}
          {{#t.d}}{{item.lastName}}{{/t.d}}
          {{#t.d}}{{item.nickName}}{{/t.d}}
          {{#t.d}}XXX-XX-XXXX{{/t.d}}
          {{#t.d}}********{{/t.d}}
        {{/t.r}}
      {{/t.body-each}}
      {{#t.foot as |t|}}
        {{#t.r as |t|}}
          {{#t.d}}Foot1{{/t.d}}
          {{#t.d}}Foot2{{/t.d}}
          {{#t.d}}Foot3{{/t.d}}
          {{#t.d}}Foot4{{/t.d}}
          {{#t.d}}Foot5{{/t.d}}
          {{#t.d}}Foot6{{/t.d}}
          {{#t.d}}Foot7{{/t.d}}
        {{/t.r}}
      {{/t.foot}}
    {{/ui-table}}
  {{/if}}
  {{#if (eq scroll.selection "fixed")}}
    {{#ui-table as |t|}}
      {{#t.head as |t|}}
        {{#t.h width=83 frozen=true}}ID{{/t.h}}
        {{#t.h width=83 frozen=true}}Age{{/t.h}}
        {{#ui-sortable}}
          {{#t.h}}
            <div>Name</div>
            {{#ui-sortable}}
              {{#t.h}}First Name{{/t.h}}
              {{#t.h}}Last Name{{/t.h}}
            {{/ui-sortable}}
          {{/t.h}}
          {{#t.h width="50%"}}
            {{#ui-resizable}}
              Nick Name
            {{/ui-resizable}}
          {{/t.h}}
          {{#t.h}}SSN{{/t.h}}
          {{#t.h}}Password{{/t.h}}
        {{/ui-sortable}}
      {{/t.head}}
      {{#t.body as |t|}}
        {{#if application.model.isFulfilled}}
          {{#each application.model key="@index" as |item index|}}
            {{#t.r as |t|}}
              {{#t.d}}{{item.id}}{{/t.d}}
              {{#t.d}}{{item.age}}{{/t.d}}
              {{#t.d}}{{item.firstName}}{{/t.d}}
              {{#t.d}}{{item.lastName}}{{/t.d}}
              {{#t.d}}{{item.nickName}}{{/t.d}}
              {{#t.d}}XXX-XX-XXXX{{/t.d}}
              {{#t.d}}********{{/t.d}}
            {{/t.r}}
          {{/each}}
        {{/if}}
      {{/t.body}}
      {{#t.foot as |t|}}
        {{#t.r as |t|}}
          {{#t.d}}Foot1{{/t.d}}
          {{#t.d}}Foot2{{/t.d}}
          {{#t.d}}Foot3{{/t.d}}
          {{#t.d}}Foot4{{/t.d}}
          {{#t.d}}Foot5{{/t.d}}
          {{#t.d}}Foot6{{/t.d}}
          {{#t.d}}Foot7{{/t.d}}
        {{/t.r}}
      {{/t.foot}}
    {{/ui-table}}
  {{/if}}
{{/let}}
