{{#if hasBlock}}
  {{yield list}}
{{else}}
  <ul>
    {{#each list key=key as |item|}}
      <li>
        <label>
          <input type="{{if multiple 'checkbox' 'radio'}}" value="{{get item key}}" name="{{elementId}}">
          {{item.name}}
        </label>
      </li>
    {{/each}}
  </ul>
{{/if}}
